# JetBrains IDEs
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.buildozer/
.python-version
.venv/
venv/
.env/
.envrc
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.pyre/
.dmypy.json

# macOS
.DS_Store

# Editor/OS noise（可选）
*.swp
*.swo

AGENTS.md